@font-face {
    font-family: 'cryst1medium';
    src: url('./fonts/cryst1-webfont.woff2') format('woff2'),
         url('./fonts/cryst1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    font-size: 1.4rem;
}
h4 {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.3rem;
    margin: 0.5rem 0 0.25rem;
}

.flashcard {
    max-width: 600px;
    min-height: 200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    position: relative;
    background-color: var(--pst-color-background);
}

button#prev, button#next, button#flip {
    margin: 10px;
    border-style:solid;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.05);
    padding: 5px 10px;
    border-color: rgba(0,0,0,0.5);
    border-width: 0.5px;
    border-radius: 3px;
    box-shadow: none;
}



html[data-theme="dark"] {
    --pst-color-background: #333F48;
    --pst-color-info-bg: #262f35;
    --pst-color-info: #C38A5B !important;
    --pst-color-text-base: #ffffff;
    --pst-color-text-muted: #cccccc;
    --pst-color-link: #C38A5B;
    --pst-color-primary: #C38A5B;
    --pst-color-border: #46596a;
    /* table */
    --pst-color-table-row-zebra-low-bg: #262f35;
    --pst-color-table-row-zebra-high-bg: #333f48;
    --pst-color-table-row-hover-bg: #46596a;
}
html[data-theme="light"] {
    --pst-color-background: #ffffff;
    --pst-color-info-bg: #EAEBEA;
    --pst-color-info: #c77706 !important;
    --pst-color-text-base: #000000;
    --pst-color-text-muted: #666666;
    --pst-color-link: #c77706;
    --pst-color-primary: #c77706;
    --pst-color-border: #8299ae;
    --pst-color-table-row-hover-bg: #8299ae;
}

body {
    background-color: var(--pst-color-background);
    font-family: 'Times New Roman', Times, serif;
}

.bd-sidebar-primary {
    
    overflow-x: clip;
    height: 100%;
}

.bd-sidebar-primary .sidebar-primary-items__end {
    margin-top: 0;
}

.caption-text {
    font-size: 0.9rem;
    color: var(--pst-color-text-muted);
    font-family: 'Times New Roman', Times, serif;
}

.caption-number {
    font-size: 0.9rem;
    color: var(--pst-color-text-muted);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-right: 1px solid var(--pst-color-text-muted);
    margin-right: 5px;
}

.multiplication-table td, .multiplication-table th{

    padding:0rem, 0.75rem;
}

.multiplication-table p{

    margin-bottom:0.0rem;
}

.multiplication-table td:first-child{  
    border-right: 1px solid black;


  }

.multiplication-table tr:first-child td {
    border-bottom: 1px solid black;

}

.table-dense td, .table-dense th{

    padding:0rem, 0.75rem;
}

.table-dense p{

    margin-bottom:0.0rem;
}

aside.sidebar {
    padding: 10px;
}